/* || Mehedi Hassan Miraj|| */
/* Small devices */
@media screen and (max-width: 576px) { 
    .container{
        width: 98%;
    }
    /* bars */
    .bars, .shopping-cart{
        display: block;
    }
    /* menu */
    ul.menu{
        display: none;
    }
    /* banner */
    .banner{
        flex-direction: column;
        text-align: center;
    }
    .banner-image{
        order: 1;
    }
    .banner-content{
        order: 2;
    }
    h1.banner-content-title{
        font-size: 35px;
        line-height: normal;
    }
    /* popular colluction */
    h2.popular-colluction-title{
        line-height: normal;
    }
    .popular-colluction-items{
        grid-template-columns: 1fr;
    }
    .colluction-item-content{
        text-align: center;
    }
    button.btn.see-more-btn{
        margin: 50px auto 0;
    }
    /* feature produce */
    .feature-product{
        grid-template-columns: 1fr;
    }
    .feature-product-content{
        order: 1;
        text-align: center;
    }
    .feature-product-img{
        order: 2;
    }
}
/* Medium devices (tablets, laptop) */
@media screen and (min-width: 576px) and (max-width: 768px) {
    /* nav */
    nav{
        flex-direction: column;
        gap: 2rem 0;
    }
    /* banner */
    .banner{
        flex-direction: column;
        text-align: center;
    }
    .banner-image{
        order: 1;
    }
    .banner-content{
        order: 2;
    }
    h1.banner-content-title{
        font-size: 35px;
        line-height: normal;
    }
    /* popular colluction */
    h2.popular-colluction-title{
        line-height: normal;
    }
    .popular-colluction-items{
        grid-template-columns: repeat(2, 1fr);
    }
    button.btn.see-more-btn{
        margin: 50px auto 0;
    }
    /* feature produce */
    .feature-product{
        grid-template-columns: 1fr;
    }
    .feature-product-content{
        order: 1;
    }
    .feature-product-img{
        order: 2;
    }
}

/* Large devices */
@media screen and (min-width: 768px) and (max-width: 992px) {
    h1.banner-content-title{
        font-size: 40px;
    }
    .popular-colluction-items{
        grid-template-columns: repeat(2, 1fr);
    }
}
/* || Mehedi Hassan Miraj|| */